.App{
  text-align: center;
  
}

.nav{
  position:fixed ;
  width:100%;
  bottom: 0;
}
.customCol{
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  display: flexed;
  flex: 0 0 20%;
  max-width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
}
.customCol:last-child{
  border-right: none;
}


.linkcss{
  text-decoration: none;
  color:grey;
}